---
import Error from '../layouts/error.astro'
import Container from '../components/container.svelte'
---

<Error>
  <Container class="mt-16 md:mt-32">
    <h1 class="text-zinc-900 dark:text-zinc-100 text-3xl md:text-7xl text-center">4oh4</h1>
  </Container>
</Error>
