---
import Default from '../layouts/default.astro'
import Container from '../components/container.svelte'
import Section from '../components/section.svelte'

import ContentSection from '../components/contentSection.svelte'
import Use from '../components/uses.svelte'
---

<Default>
  <Container>
    <Section topic="Things I use, tools I love and other stuff I recommend." description="The most important question is always: what do you use for thing ___? Here is a list of all the things I use in no particular order.">
      <section class="space-y-16">
        <ContentSection topic="Workstation">
          <ul class="space-y-16">
            <Use topic="14in MacBook Pro M1 MAX">
              This wonderful machine just replaced a Lenovo ThinkPad X1 Carbon 9th Generation which I so wanted to like but could not. The M1 is well built, has a great form factor and the display is outstanding. I do miss the keyboard of the ThinkPad, but that is about the only thing i miss at the moment.
            </Use>
            <Use topic="ThinkPad Carbon X1">
              While this is no longer the daily driver for me, I do use it an awful lot still. The keyboard is by far the best keyboard on a laptop I have ever used, combine that with a very custom arch and sway installation and it is just difficult to let this one go entirely.
            </Use>
            <Use topic="Moonlander Mechanical Keyboard">
              No real surprise here I assume, but like most people who spend most of their waking moments in front of a computer, I can not stand anything but a mechanical keyboard. I have had a Rac3 keyboard for the past 5 years now, and I enjoyed everything about it. That was until the moonlander came into my life. Now there is no way back to a non-split keyboard for me.
            </Use>
            <Use topic="MX Master 3">
              I do make an effort to stay on the keyboard as much as possible, but once in a while I just can not. The MX Master 3 is a ratehr standard option as far as peripherals go I think. But as they say: if it ain't broke, do not fix it.
            </Use>
            <Use topic="Brio 4k">
              Since the laptop is mostly neatly stowed away to the side, an external camera is required. Also, can I just say that I do not understand how or why a built-in camera today has the resolution of a potato.
            </Use>
          </ul>
        </ContentSection>
        <ContentSection topic="Server">
          <ul class="space-y-16">
            <Use topic="i5 7500K 16GB DDR3 1TB SSD 12TB HDD">
              This re-commissioned built from 2015 is the most essential item I own. It provides my entire home lab (which is quite extensive) and I have no idea what I would do without it. The detail of this machine which I call elrond deserves more than just a mention here, so there will be a full length article on this soon.
            </Use>
          </ul>
        </ContentSection>
        <ContentSection topic="Audio">
          <ul class="space-y-16">
            <Use topic="Behringer UMC204HD">
              Not great but not terrible is how I would describe this one. It is really just a place to provide an audio interface to all that fancy stuff listed below.
            </Use>
            <Use topic="Rode Procaster / Rode PSA1 & Rode SM6">
              The aim is to one day host a podcast. In the meanwhile I also gladly use this microphone to stream on twitch.
            </Use>
            <Use topic="Adam Audio T5V">
              Granted I rarely listen to anything without headphones, but when I do I like the sound to be good. These speakers sound great to me and are affordable.
            </Use>
            <Use topic="BayerDynamic DT90 Pro">
              These are so comfortable to wear for extended periods of time. The cord and open nature of these may not be for everyone, but I am here for it.
            </Use>
            <Use topic="Loopback">
              A rather crucial (for streaming on twitch for instance) program which I have missed a lot on linux.
            </Use>
          </ul>
        </ContentSection>
        <ContentSection topic="Development">
          <ul class="space-y-16">
            <Use topic="Vim">
              A year or so ago I made peace with the fact that a customised vim environment is probably not the most effective means for me anymore when it comes to writing code and made a switch to VS Code. I still used vim for some tasks, but not as a daily driver. However, that all changed fairly soon thereafter, and I am back on vim now. As with the server, this too deserves a bit more explanation, so there will be a full length article on this soon.
            </Use>
            <Use topic="iTerm">
              This is the default when it comes to terminal emulator on Apple hardware I think. There is another project called Kitty which has gained some traction recently I think, but there is not really any feature i am missing at the moment from iTerm.
            </Use>
            <Use topic="Tmux">
              I am not sure what to say about tmux. I am not sure where I would be without tmux. I am not sure I would want to life in a world without tmux.
            </Use>
          </ul>
        </ContentSection>
        <ContentSection topic="Productivity">
          <ul class="space-y-16">
            <Use topic="Notion">
              Getting (and staying) organised is an endless quest it seems. That is until I found notion. Notion is kind of everything and nothing, so the best way to learn about it is just by using it.
            </Use>
            <Use topic="Todoist">
              It was the fall of 2017 when I went on a youtube spree that lead me to people who spent considerable time to configure todoist to run their life. Naturally I followed along, and whilst I found methods that work for me over the years, I have not looked back since.
            </Use>
            <!-- <Use topic="Alfred">
              content
            </Use> -->
            <Use topic="Magnet">
              This has replaced Spectacle for me just recently, and so far it does what it is supposed to do. I do not understand why this functionality is (still) not available out of the box on Apple hardware.
            </Use>
            <!-- <Use topic="Bitwarden">
              content
            </Use> -->
          </ul>
        </ContentSection>
      </section>
    </Section>
  </Container>
</Default>
